server {
	server_name {{weburl}};

        location / {
		proxy_pass {{desturl}}; 
		proxy_set_header HOST $host;
		proxy_set_header Referer $http_referer;
		proxy_set_header X-Forwarded-For $remote_addr;
		proxy_set_header X-Forwarded-Proto $scheme;

	}

        listen 443 ssl;
        ssl_certificate {{sslcertificate}};
        ssl_certificate_key {{sslcertificatekey}};
}

server {
    if ($host = {{weburl}}) {
        return 301 https://$host$request_uri;
    }

    server_name {{weburl}};
    listen 80;
    return 404;
}

